/.env
/vendor/
/.idea/
/.vscode/
/.phpunit.cache/

/src/Shared/Storage/*
!/src/Shared/Storage/.gitkeep
!/src/Shared/Storage/sessions/
/src/Shared/Storage/sessions/*
!/src/Shared/Storage/sessions/.gitkeep

/public/uploads/products/*
!/public/uploads/products/.gitkeep

*.log
*.local.txt
Thumbs.db
.DS_Store
